body {
  min-height: 100%;
  background-image: url(https://wallpaperset.com/w/full/4/b/6/523946.jpg);
  background-attachment: fixed;
  background-position: 50% 60%;
}
.nav-item {
  display: block;
  list-style-type: none;
  float: right;
  padding: 15px;
}

nav ul {
  margin-right: 30px;
}
nav {
  background-color: none;
  height: 50px;
  width: 100%;
}
.page-length {
  height: 600px;
}

.list-button {
  background-color: #828282;
  border: 1px solid black;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.list-button:hover {
  background-color: white;
  color: #363946;
  border: 1px solid black;
}
.all-tricks {
  display: grid;
  max-width: 90%;
  margin: 35px auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  align-items: center;
}
.entries {
  background-color: white;
  width: 75%;
  margin: 3% auto;
  text-align: center;
}

.entries th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #363946;
  color: white;
}
.link {
  text-decoration: none;
  color: white;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: white;
}
.home-page > h1 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  position: absolute;
  left: 50%;
  top: 50%;
}
.trick-page {
  background: rgb(255, 255, 255, 0.7);
  color: rgb(0, 0, 0);
  width: 50%;
  margin: 25px auto;
  padding: 30px;
  border-radius: 1em;
  list-style: none;
}

.trick-page button {
  align-items: center;
  text-decoration: none;
}
.form-container {
  margin: 5% auto;
  width: 50%;
  background: none;
  border-radius: 1em;
}
input[type="text"],
select,
textarea,
button {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgb(113, 112, 112);
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
}

#submit-form {
  background-color: black;
  color: white;
  align-items: center;
}
#text-area {
  resize: none;
}

@media (max-width: 425px) and (min-width: 361px) {
  body {
    background-attachment: fixed;
    background-position: 50% 70%;
  }
  nav {
    background: black;
    margin-top: -17px;
  }
  .nav-item {
    display: inline;
    font-size: 10px;
  }
  .all-tricks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
  }
  .home-page {
    position: absolute;
    left: 130px;
    top: 170px;
  }
  .home-page h1 {
    width: 225px;
  }
  .trick-container {
    width: 100%;
  }
  .form-container {
    width: 100%;
    background: none;
  }
  .trick-page-container {
    width: 100%;
  }
  .trick-page {
    width: 80%;
    border-radius: 0%;
    padding: 10px;
    margin: 10px auto;
    overflow-wrap: break-word;
  }
  .trick-page img {
    max-width: 60%;
    margin: auto;
  }
  .trick-page button {
    margin: 15px;
  }
}
