body {
  min-height: 100%;
  background-image: url(https://wallpaperset.com/w/full/4/b/6/523946.jpg);
  background-size: cover;
}
.nav-item {
  display: block;
  list-style-type: none;
  float: right;
  padding: 15px;
}

nav ul {
  margin-right: 30px;
}
nav {
  background-color: none;
  height: 50px;
  width: 100%;
}
.page-length {
  height: 600px;
}

.list-button {
  background-color: #828282;
  border: 1px solid black;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.list-button:hover {
  background-color: white;
  color: #363946;
  border: 1px solid black;
}
.all-tricks {
  display: grid;
  max-width: 90%;
  margin: 35px auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  align-items: center;
}
.entries {
  background-color: white;
  width: 75%;
  margin: 3% auto;
  text-align: center;
}

.entries th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #363946;
  color: white;
}
.link {
  text-decoration: none;
  color: white;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: white;
}
.home-page > h1 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  position: absolute;
  left: 50%;
  top: 50%;
}
.trick-page {
  background: rgb(255, 255, 255, 0.3);
  color: white;
  width: 50%;
  margin: 25px auto;
  padding: 30px;
  border-radius: 1em;
  list-style: none;
}

.trick-page button {
  left: 50%;
}
.form-container {
  margin: 10% auto;
  width: 85%;
  background: rgb(255, 255, 255, 0.3);
  border-radius: 1em;
}
input[type="text"],
select,
textarea {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgb(113, 112, 112);
  font-family: sans-serif;
  margin: 10px;
  display: inline-block;
}
#text-area {
  resize: none;
}
