li {
  display: block;
  list-style-type: none;
  float: right;
  padding: 15px;
  text-decoration: none;
}
ul {
  margin-right: 30px;
}
nav {
  background-color: #363946;
  height: 50px;
  width: 100%;
}
.list-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.all-tricks {
  display: grid;
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: auto;
  width: 900px;
  height: 100px;
  max-width: 80vw;
  max-height: 80vh;
}
/* .entry-container {
  border: 1px solid black;
}
.entry-cells {
  display: inline-block;
} */
